

h1, h3{
    color: rgb(238, 4, 51); 
    text-align: center;
    
}
header{
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
    border-bottom: 2px solid rgb(95, 91, 91);
    background-color: rgb(207, 228, 248);
    color: rgb(59, 53, 18)
}
.card{
   
    display: none;
}
.column{
    border: 1px solid rgb(112, 109, 109);
    
    width:150px;
    
}
h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: fit-content;
    height: auto;
}
.phaseText{
    background-color: rgb(104, 118, 196);
    margin: 0;
    text-size-adjust: 10px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    
}
.phase0, .phase1, .phase2, .phase3, .phase4{
    background-color: rgb(240, 99, 48);
    border-radius: 15px;
    box-shadow: 2px 2px rgb(73, 46, 11);
}

.show{
    display: flex;
    border: 1px solid rgb(48, 47, 47);
    justify-content: space-evenly;
    margin:30px;
    text-align: center;
    background-color: rgb(231, 220, 220);
    
}
